* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/* Style for main heading  */
.heading {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-shadow: 5px 5px 10px rgb(32, 177, 234);
}
/* stylng for button  */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
button {
  width: 30rem;
  height: 80px;
  font-size: 20px;
  border: 3px solid black;
  outline: black;
  border-radius: 30px;
  background-color: aquamarine;
}
button:hover{
  border: 3px solid blue;
  background-color: aqua;
}

/* styling for function component  */
.main-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  margin-top: 300px;
}

.functionClass{
  max-width: 550px;
  height: 300px;
  text-align: center;
  background-color: aqua;
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 30px;
  position: absolute;
  left: 0px;
}


/* styling for class component  */
.ClassComp{
  max-width: 550px;
  height: 300px;
  text-align: center;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 30px;
  position: absolute;
  right: 0;
}

/* Component Content style  */
.content h1{
  margin-bottom: 30px;
}

.red {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Media Queries */
/* mobile size  */

@media screen and (max-width: 697px) {
  .btn{
    gap: 20px;
    flex-direction: row;
  }
  .main-container{
    width: 80%;
    flex-direction: column;
    margin-top: 90px;
    gap: 40px;
  }
  .functionClass{
    position: relative;
    top: 0;
  }
  .ClassComp{
    position: absolute;
    top: 350px;
  }
}


/* tablet size  */
@media screen and (min-width: 698px) and (max-width: 992px) {
  .btn {
    gap: 30px;
  }
  button{
    width: 20rem;
  }
  .main-container{
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    margin-top: 0px;
    gap: 20px;
  }
  .functionClass{
    width: 90vw;
    position: relative;
    left: inherit;
  }
  .fixed1{
    position: absolute;
    top: 80px;
  }
  .ClassComp{
    width: 80vw;
    position: relative;
    right: inherit;
  }
  .fixed{
    position: absolute;
    top: 430px;
  }
}
/* big screen  */
@media screen and (min-width: 992px) and (max-width: 1400px) {
  button{
    width: 25rem;
  }
  .functionClass{
    max-width: 400px;
  }
  .ClassComp{
    max-width: 400px;
  }
  
}